<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
    <center>
        <h1 id="info">Connection closed</h1>
        <ul id="messages"></ul>

        <form onsubmit="sendMessage(); return false;" action="#">
            <input id="message_to_send" type="text">
            <button type="submit">Send</button>
        </form>
    </center>

    <script>
        var webSocket = new WebSocket("ws://localhost:8080/chat");
        webSocket.onopen = function(ev){
            console.log("Connection established");
            document.getElementById("info").innerHTML = "Connection open";
        };

        webSocket.onmessage = function (ev){
            var messages = document.getElementById("messages");
            messages.innerHTML = messages.innerHTML + "<li>" + ev.data + "</li>";
        };

        function sendMessage(){
            var message = document.getElementById("message_to_send").value;
            webSocket.send(message);
        }

    </script>

</body>
</html>